<div class="container">
    <h1 style="--animation-delay: 5;"> Hello There! </h1>
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
    <div class="form-data">
        <form class="login-form" style="--animation-delay: 3;" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input formControlName="username" pInputText placeholder="Username" />
            </div>
            <p-password formControlName="password" type="password" class="w-full" [feedback]="true" placeholder="Password" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
            <p-password formControlName="confirmPassword" type="password" class="w-full" [feedback]="true" placeholder="Confirm password" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
            <p-button type="submit" label="Submit" [loading]="loading" [disabled]="registerForm.invalid"></p-button>
        </form>
    </div>
    <hr width="100px">
    <div class="route" style="--animation-delay : 0;">
        Already have an account? 
        <a [routerLink]="['/', 'home', 'login']">
            Log In!
        </a>
    </div>
</div>  